*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html{
    scroll-behavior: smooth;
}

    /* ---Cor--- */
:root{
    --var-color-bege: #EABAA2;

}

    /* ---header--- */
header nav{
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: #e9b094;
    cursor:pointer;
}

header nav .nomeArea{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    width: 16rem;
    padding: 0 1rem;
    color: white;
    
}

header nav .action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 0 2rem;
    color: white;
    font-size: 20px;
}

.action a:hover{
    color:rgb(0, 0, 0);
}


    /* ---Main--- */
main .recorte{
    display: flex;
    width: 100%;
    height: 93.5vh;
    background-color: var(--var-color-bege);
}


    /* ---FOTOS--- */;
main .esquerda{
    display: flex;
    width: 10%;
    height: 100%;
    align-items: flex-start;
}

main .esquerda img{
    position: absolute; 
    right: 1106px;
    top: 164px;
    padding: 0;
    height: 46rem;
    width: 82rem;
    justify-content: flex-start;
    align-items: center;
}

main .direita1 img{
    position: absolute; 
    right: -126px;
    top: 164px;
    padding: 0;
    height: 46rem;
    width: 82rem;
    justify-content: flex-start;
    align-items: center;
}

main .direita1 img{
    position: absolute; 
    right: -126px;
    top: 164px;
    padding: 0;
    height: 46rem;
    width: 82rem;
    justify-content: flex-start;
    align-items: center;
}

main .direita2 img{
    position: absolute; 
    right: -370px;
    top: 251px;
    padding: 0;
    height: 38rem;
    width: 92rem;
    justify-content: flex-start;
    align-items: center;
}

main .polaroide img{
    position: absolute; 
    right: 124px;
    top: 251px;
    padding: 0;
    height: 40rem;
    width: 41rem;
    justify-content: flex-start;
    align-items: center;
}

main .cera img{
    position: absolute; 
    right: 660px;
    top: 112px;
    padding: 0;
    height: 40rem;
    width: 41rem;
    justify-content: flex-start;
    align-items: center;
}

main .final{
    display: flex;
    display: flex;
    width: 100%;
    height: 50.5vh;
 
}

main .imgFinal img{
    position: absolute; 
    right: 0px;
    top: 921px;
    padding: 0;
    height: 18rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}